In [6]:
### Getting SP500 data from API

In [37]:
# Imports
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline

In [38]:
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret Key
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [39]:
ticker = "SPY"

# Set timeframe to '1D'
timeframe = "1D"

start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat()

spy_data = api.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
spy_data.head()

                              SPY
                             open    high     low   close    volume
time
2020-01-02 00:00:00-05:00  323.54  324.85  322.53  324.84  48217559
2020-01-03 00:00:00-05:00  321.16  323.64  321.10  322.44  58408809
2020-01-06 00:00:00-05:00  320.49  323.73  320.36  323.67  43105385
2020-01-07 00:00:00-05:00  323.02  323.54  322.24  322.76  33909984
2020-01-08 00:00:00-05:00  322.94  325.78  322.67  324.42  56581814

In [52]:
spy_close = pd.DataFrame(spy_data["SPY"]["close"])
spy_close.index = spy_close.index.date
spy_close.head()

             close
2020-01-02  324.84
2020-01-03  322.44
2020-01-06  323.67
2020-01-07  322.76
2020-01-08  324.42