In [2]:
import requests
import holoviews as hv
import pandas as pd
import numpy as np
from pathlib import Path
pd.options.plotting.backend = 'holoviews'
%matplotlib inline

OptionError: 'You can only set the value of existing options'

In [ ]:
def get_multiple_crypto_data(crypto_one="BTC-USD", crypto_two="ETH-USD", date1 = '01-01-2020', date2 = '03-31-2020'):
    
    # Crypto one
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df = pd.DataFrame(response.json())
    df = df.iloc[:,[0,4]]
    
    df.columns = ["date", "close"]
    df["date"] = pd.to_datetime(df["date"], unit='s')
    df.set_index("date", inplace=True)
    df = df.sort_index()
    
    # End Crypto one
    
    # Crypto two
    
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df2 = pd.DataFrame(response.json())
    df2 = df2.iloc[:,[0,4]]
    
    df2.columns = ["date", "close"]
    df2["date"] = pd.to_datetime(df2["date"], unit='s')
    df2.set_index("date", inplace=True)
    df2 = df2.sort_index()
    
    df = pd.concat([df, df2], axis="columns", join="inner")
    
    return df

In [ ]:
get_multiple_crypto_data()

In [ ]:
get_multiple_crypto_data(date1="04/01/2020", date2="07/31/2020")

In [ ]:
all_data = pd.concat(
    [
        get_multiple_crypto_data(),
        get_multiple_crypto_data(date1="04/01/2020", date2="06/30/2020"),
        get_multiple_crypto_data(date1="07/01/2020", date2="09/30/2020"),
        get_multiple_crypto_data(date1="10/01/2020", date2="012/31/2020")
    ], axis="rows")

In [49]:
gov_spending20_csv = Path("Gov_Spending.csv")
gov_spending20 = pd.read_csv(gov_spending20_csv)
gov_spending20.head()

,Record Date,Parent ID,Classification ID,Classification Description,Current Month Gross Receipts Amount,Current Month Gross Outlay Amount,Current Month Deficit Surplus Amount
0,12/31/20,NaN,44802184.0,FY 2020,null,null,null
1,12/31/20,44802184.0,44802187.0,October,"$245,520,982,120.90","$379,988,361,130.71","$134,467,379,009.81"
2,12/31/20,44802184.0,44802189.0,November,"$225,185,415,497.28","$434,023,709,954.02","$208,838,294,456.74"
3,12/31/20,44802184.0,44802191.0,December,"$335,805,401,484.89","$349,091,277,973.68","$13,285,876,488.79"
4,12/31/20,44802184.0,44802193.0,January,"$372,287,913,768.70","$404,882,870,789.11","$32,594,957,020.41"

In [45]:
#gov_spending20 = gov_spending20.drop(labels=[0,13])

In [50]:
gov_spending20.head()

,Record Date,Parent ID,Classification ID,Classification Description,Current Month Gross Receipts Amount,Current Month Gross Outlay Amount,Current Month Deficit Surplus Amount
0,12/31/20,NaN,44802184.0,FY 2020,null,null,null
1,12/31/20,44802184.0,44802187.0,October,"$245,520,982,120.90","$379,988,361,130.71","$134,467,379,009.81"
2,12/31/20,44802184.0,44802189.0,November,"$225,185,415,497.28","$434,023,709,954.02","$208,838,294,456.74"
3,12/31/20,44802184.0,44802191.0,December,"$335,805,401,484.89","$349,091,277,973.68","$13,285,876,488.79"
4,12/31/20,44802184.0,44802193.0,January,"$372,287,913,768.70","$404,882,870,789.11","$32,594,957,020.41"

In [51]:
gov_spending20 = gov_spending20.iloc[:, [3, 5] ]

In [55]:
gov_spending20.dropna(inplace=True)

In [58]:
gov_spending20.iloc[1:13]

   Classification Description  Current Month Gross Outlay Amount
1                     October                $379,988,361,130.71
2                    November                $434,023,709,954.02
3                    December                $349,091,277,973.68
4                     January                $404,882,870,789.11
5                    February                $423,228,905,223.49
6                       March                $355,754,063,237.51
7                       April                $979,885,188,729.59
8                         May                $572,614,424,728.25
9                        June              $1,104,902,736,844.42
10                       July                $626,487,389,535.23
11                     August                $423,233,421,276.19
12                  September                $497,779,900,786.44